@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 50px;
    align-items: center;
    
    
}
nav ul{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    list-style: none;
    padding: 20px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 20px;
    
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
}
nav ul li a::after{
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 9px;
    transition: 0.5s;
    position: absolute;
    top: 100%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: top 0.5s,opacity 0.5s;
}
nav ul li a:hover{
    color:#fff;

}
nav ul li a:hover::after{
    top: 50%;
    opacity: 1;
}


.team_name{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 15px;
}
.btn{
    display: flex;
    margin-right: 20px;
    gap: 30px;
    margin-top: 50px;
}


.btn1{
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
}

.btn1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.btn2{
    background-color: #ff0026;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    transition: 0.5s ;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}
.btn2:hover{
    background-color: #000;
    color: white;
}
.ham{
    display: flex;
    margin-top: 50px;
    margin-right: 20px;
    display: none;
    font-size: 40px;
    cursor: pointer;
}



@media (max-width:1100px){

    nav ul{
        display: flex;
        position: absolute;
        top: 5%;
        width: 100%;
        background-color: #000;
        border-radius: 1px;
        color: white;
        align-items: center;
        box-shadow: none;
        gap: 7px;
        left: -20px; 
    }
    nav ul li a{
        color: #D6D6E7;
    }
    nav ul li a:hover{
        color: #fff;
    }
    
    .btn{
        display: flex;
        gap: 20px;
        justify-content: end;
    }
    .btn1{
        box-shadow: none;
        padding: 0px;
        font-size: 15px;
        
        
    }
    .btn2{
        background: white;
        box-shadow: none;
        font-size: 15px;
        padding: 0;
        border-width: 0px;
        
    }
    .team_name{
        letter-spacing:2px;
    }
    nav ul li a::after{
        background:black;
    }
}
@media (max-width:455px){
    .team_name{
        letter-spacing: 0px;
        font-size: 20px;
    }
}